.about{
    margin: 40px 0px;
  }

  .about h2{
    margin-left: 6rem;
    font-size: 30px;
  }

  .about p {
    margin-left: 6rem;
    font-size: 23px;
  }

footer {
    background-color: rgb(32, 32, 32);
    padding: 15px;
    color: white;
    text-align: center;
    
}
  
footer a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}